# Binaries and build artifacts
/crossover
/crossover-mac
/crossover.exe
/OmniDesk
/omnidesk
/omnidesk-mac
/omnidesk.exe
dist/
bin/

# Go artifacts
*.test
*.out

# OS & IDE files
.DS_Store
.idea/
.vscode/
*.swp
*~
